################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListManagement/.vs/ListManagement
/ListManagement/ListManagement/obj
/ListManagement/ListManagement/bin/Debug/net6.0
/ListManagement/Library.ListManagement/bin/Debug/net6.0
/ListManagement/Library.ListManagement/obj
/ListManagement/UWPListManagement/bin/x86/Debug
/ListManagement/UWPListManagement/obj
/ListManagement/Library.ListManagement.Standard/bin/Debug/netstandard2.0
/ListManagement/Library.ListManagement.Standard/obj
/API.ListManagement/.vs/API.ListManagement
/API.ListManagement/API.ListManagement/obj
